

.as_button {

    border-radius: 5px;
    background-color: blue;
    border-color: blue;
    color: white;
    max-width: fit-content;
    margin-top: 10px;
    background-size: auto;
}
.button {
    border-radius: 5px;
    max-width: fit-content;
    margin-top: 10px;
    background-size: auto;
}
.searchbar {
    
    width: fit-content;
    margin: auto;
    margin-top: 20px;
     
}
.as_searchbar {
    
    
    margin-right: 0px;
    
   
  
}
.links {
    font-family: arial;
    text-decoration: none;
    max-width: fit-content;
    margin-left: auto;
    
    
}

.header {
    
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    font-family: arial;

}

